* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
    min-width: 766px;
}

main {
    width: 100%;
}

.split-out {
    display: flex;
    flex-direction: row;
}


/* navigation */

nav {
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 300px;
    background: #EFE9E1;
    height: -webkit-fill-available;
}

#main-body {
    width: calc(100%);
    display: flex;
    flex-direction: column;

}

section .container {
    margin: 0 auto;
}


#header-main-body .container {
    padding: 0 35px 0 25px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    padding: 55px 77.89px 54px 78px;
}


.logo:hover {
    cursor: pointer;
}

.user-image {
    padding: 0 110px 12px 110px;
}

.user-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.user-content .user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
}

.user-content .user-name:hover,
.menu-items span:hover {
    transition: color .2s ease;
    color: #009ef7 !important;
}

.user-content .user-position {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #7E8299;
}

.sidebar-menu {
    padding-top: 116px;
    width: 100%;
}

.sidebar-menu img {
    padding-right: 8px;
}

.menu-items {
    padding-bottom: 28px;
    margin-left: 30px;
}

.sub-item {
    padding-bottom: 8px;
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #5E6278;

}

.menu-items p:first-child {
    padding-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #181C32;
    margin: 0;
}

.menu-items {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #5E6278;
}


.menu-items:hover,
.sub-item:hover {
    color: #181C32;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer img {
    padding-right: 5px;
}

.footer:hover {
    cursor: pointer;
}

.footer span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #7E8299;
}

.footer .setting-icon {
    margin: 0 28px 28px 0;
    padding: 0;
}

/* main section */
section {
    background: #F9FAFB;
}


.dots {
    position: relative;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid red;
}

.dots::after {
    display: block;
    content: "";
    position: absolute;
    width: 3px;
    height: 35px;
    background: #a4a4a4;
    border-radius: 3px;
    top: 15px;
}

.main-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 60px; */
    margin: 0 !important;
    padding-bottom: 39px;
}

.header-left {
    padding-top: 44px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-right {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 49px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #181C32;
}

.header-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;

    color: #B5B5C3;
}

/* search box */
.header-right .notification {
    margin-left: 20px;
    width: 40px;
    height: 40px;

    opacity: 0.7;
    border: 1px solid #E4E6EF;
    border-radius: 9px;
    text-align: center;
    background-color: #fff;
}


.header-right .notification:hover {
    cursor: pointer;
}

.notification img {
    padding-top: 7px;
    padding-bottom: 10px;
}

.search-box input {
    height: 40px;
    padding: 0;
    opacity: 0.7;
    border: 1px solid #E4E6EF;
    border-radius: 9px;
    padding-left: 36px;
}

.search-box {
    position: relative;
}

.search-box img {
    position: absolute;
    top: 12px;
    left: 13.5px;
    bottom: 14px;
}

.search-box input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.search-box input:focus {
    border: 1px solid #E4E6EF;
    box-shadow: none;
}

/* widget */

.use-base {
    background: #FFFFFF;
    padding: 0 !important;
    box-shadow: 0px 0px 16px rgba(24, 28, 50, 0.01);
    border-radius: 12px;

}

.row {
    margin: 0 !important;
}

.use-base .wrapped {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 28px;
    padding-right: 30px;
}

.wrapped .wrapped-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #212121;

}

.wrapped .wrapped-content {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    padding-top: 3px;
    color: #B5B5C3;
    padding-bottom: 24px;
}


.chart {
    padding-bottom: 30px;
    position: relative;
}

.chart .chart-wrapped {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 35px;
    margin: auto;
}

.chart .total-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-member button {
    width: 140px;
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #EF5B2D;
    border-radius: 9px;
    margin-top: 17px;

}

.total-member .total-member-quotes {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;

    color: #B5B5C3;
}

.chart .chartimg {
    width: 100%;
    padding: 0 20px;
}

.amount {
    padding-bottom: 12px;
}

.amount img {
    width: 100%;
    padding: 0 20px;
}

section .inherit {
    margin-top: 40px;
}

.trending .trend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trending .trend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trending .trend {
    padding: 0 30px 30px 30px;
}

.trend-item img {
    padding-right: 15px;
}

.trend-content .title,
.trend-content .content {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.trend-content .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #3F4254;
}

.trend-content .content {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;

}

.trend .income {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #7E8299;

    background: #F3F6F9;
    border-radius: 6px;
    padding: 5px;
}

/* timeline */
.chart.timeline-chart {
    padding-left: 20px;
    padding-right: 20px;
}

div .timeline-chart {
    padding-bottom: 0;
}

.col-md-2,
.col-md-9,
.col-md-1,
.col-9,
.col-2,
.col-1 {
    padding: 0 !important;
}


div .time {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #3F4254;
    text-align: center;
}

.circle-violet {
    color: #663259;
}

.circle-green {
    color: #B0DC00;
}

.circle-pink {
    color: #F64E60;
}

.timeline-chart label {
    width: 3px;
    height: 40px;
    background: #E5EAEE;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
}

.timeline-chart .last-label {
    height: 24px;
}

.timeline-chart .text-muted {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7E8299;
}

.timeline-chart .text-bolded {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;

    color: #3F4254;

}

.timeline-chart .high-light {
    color: #B0DC00;
}

.relative {
    position: relative;
}

.activities-img {
    position: absolute;
    top: -9px;
    /* right: 72px; */
}

/* end timeline */

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #F0DCC0;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    border-radius: 12px;
    margin-bottom: 19px;
}

.banner div:first-child {
    position: relative;
    height: 237px;
}

.banner div:nth-child(2) {
    position: relative;
}

.banner label {
    z-index: 1;
    position: absolute;
    top: 49px;
    left: 40px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.02em;
    width: 288px;
    color: #3F4254;
}

.banner button {
    z-index: 1;
    position: absolute;
    bottom: 48px;
    left: 40px;
    margin: auto;
    background: #3F4254;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 154px;
    color: #FFFFFF;
    height: 42px;

}

.banner img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.table-app {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px 30px 0 30px;
}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left .title-left {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3F4254;
    padding-bottom: 7px;
}

.left .description-left {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #B5B5C3;
}

.table-header .right {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */


}

.right .btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.right .btn-selected {
    color: #FFFFFF;
    background: #3F4254;
    border-radius: 6px;
}

.table-content {
    width: 100%;
}

.table-content {
    width: 100%;
    left: 0;
    right: 0;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 24px;
}

.logo-and-name {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

.logo-app .logo-with-border {
    background: #F3F6F9;
    border-radius: 6px;
    padding: 10px;
}

/* row third */
.newuser-chart {
    padding-top: 15px;
}

.newuser-chart img {
    width: 100%;
}

.logo-and-name .logo-app {
    padding-right: 15px;
}

.app-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #3F4254;

}

.app-sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.app .app-sub::before {
    content: 'FPT: ';
    color: #3F4254;
}

.margin-right {
    text-align: right;
}

table td {
    padding: 0 !important;
}

.btn-action {
    display: flex;
    justify-content: center;
}

.btn-action div {
    margin-right: 10px;
}

.status {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.approved {
    width: 74px;
    text-align: center;
    margin-left: 50px;
    padding: 5px 7px;
    color: #8950FC;
    background-color: #EEE5FF;
    border-radius: 6px;
}

.in-progress {
    width: 80px;
    text-align: center;
    margin-left: 50px;
    padding: 5px 7px;
    color: #FFA800;
    background-color: #FFF4DE;
    border-radius: 6px;
}

.reject {
    width: 67px;
    text-align: center;
    margin-left: 50px;
    padding: 5px 7px;
    color: #F64E60;
    background-color: #FFE2E5;
    border-radius: 6px;
}

.success {
    width: 65px;
    text-align: center;
    margin-left: 50px;
    padding: 5px 7px;
    color: #1BC5BD;
    background-color: #C9F7F5;
    border-radius: 6px;
}

main.split-out nav {
    display: none;
}

#header-main-body,
#info-main-body {
    width: 100%;
}


@media (min-width: 520px) {
    .timeline-chart img {
        display: block;
        width: 100%;
        padding: 0 20px;
    }

    .timeline-chart .laptop-timeline {
        display: none;
    }

    section .mobile-row {
        margin-top: 40px;
    }

    br {
        display: none;
    }

    nav {
        overflow-y: auto;
    }

    .main-widget {
        display: none;
    }

    .main-widget-mobile {
        display: block;
    }

    #btn-open-nav {
        cursor: pointer;
        font-size: 30px;
        color: #A1A5B7;

    }

    .mobile-logo {
        width: 50px;
        height: 30px;
    }

    .navbar-brand-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-btn-mb {
        width: 40px;
        height: 40px;

        opacity: 0.7;
        border: 1px solid #E4E6EF;
        border-radius: 9px;
        text-align: center;
        background-color: #fff;
    }

    .search-btn-mb:hover {
        cursor: pointer;
    }

    .search-btn-mb img {
        padding-top: 7px;
        padding-bottom: 10px;
    }

    .header-right {
        padding: 0;
    }

    .header-right .notification {
        margin-left: 5px;
    }

    .mobile-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .header-left {
        padding: 0;
    }

    .main-widget-mobile {
        margin: 20px 0;
    }

    #btn-close-nav {
        font-size: 30px;
        cursor: pointer;
    }
}


@media (min-width: 992px) {
    .timeline-chart img {
        display: none;
    }

    .timeline-chart .laptop-timeline {
        display: block;
    }

    section .mobile-row {
        margin-top: 0px;
    }

    .total-member .total-member-quotes {
        display: block;
    }

    nav {
        overflow-y: hidden;
        display: block !important;
    }

    #btn-close-nav {
        display: none;
    }

    .container {
        width: 100%;
    }

    #main-body {
        width: 100%;

    }

    .main-widget-mobile {
        display: none !important;
    }

    .main-widget {
        display: block !important;
    }

    .header-left {
        padding-top: 44px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


    .header-right {
        display: flex;
        justify-content: right;
        align-items: center;
        padding-top: 49px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .main-widget {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        /* padding: 0 60px; */
        margin: 0 !important;
        padding-bottom: 39px;
    }

    .activities-img {
        right: 6px;
    }

}


@media (min-width: 1200px) {
    .total-member .total-member-quotes {
        display: block;
    }

    #main-body {
        width: calc(100% - 300px);
        margin-left: 300px;

    }

    main.split-out nav {
        display: block;
    }
}

@media (min-width: 1210px) {
    br {
        display: block;
    }
}

@media (min-width: 1490px) {
    .activities-img {
        right: 42px;
    }
}

@media (min-width: 1600px) {
    .activities-img {
        right: 72px;
    }
}